<%= form_for @link, url: links_path do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.submit "Submit" %>
<% end %>


<div class="links">
  <h3>Your Links:</h3>
  <table>
    <th>Title</th>
    <th>Edit</th>
    <% @links.each do |link| %>
      <tr>
        <td><%= link_to link.title, link.url %></td>
        <td><%= button_to "Edit", edit_link_path(link), method: :get %></td>
      </tr>
    <% end %>

  </table>
</div>
