<%= form_for @link, url: links_path do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, id: "link_title" %>

  <%= f.label :url %>
  <%= f.text_field :url, id: "link_url" %>

  <%= f.submit "Submit", id: "submit_link" %>
<% end %>

<h3>Your Links:</h3>
<div id="links-list">
  <table>
    <% @links.each do |link| %>
      <tr>
        <td><%= link_to link.title, read_link_path(link) %></td>
        <td><%= button_to "Edit", edit_link_path(link), method: :get %></td>
      </tr>
    <% end %>

  </table>
</div>
